@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Lato:wght@300&family=Poppins:wght@300&family=Raleway:wght@300&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&display=swap");
@import "./variable.scss";
@import "./mixin.scss";

a {
  text-decoration: none;
}
body {
  overflow-x: hidden;
}

.pad-l0-r0 {
  padding-left: 0;
  padding-right: 0;
}
.padd-b0 {
  margin-bottom: 10px !important;
}
.m-b10 {
  margin-bottom: 10px !important;
}

.loading-constructor {
  width: 100%;
  display: flex;
  justify-content: center;
  img {
    height: 25px;
  }
}
