@import "../../assets/scss/variable.scss";

.forget-password {
  margin-top: 13px;
  cursor: pointer;
  display: inline-block;
  span {
    font-weight: 550 !important;
    font-family: $font-apple-system !important;
    font-size: 14px !important;
    color: rgb(59, 153, 241);
  }
}
.message-error {
  width: 80%;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: rgb(253, 42, 42);
  margin-top: 25px;
  span {
    font-size: 13px !important;
    font-family: $font-apple-system !important;
    font-weight: normal !important;
    color: white;
  }
}
.message-success {
  @extend .message-error;
  background-color: rgb(17, 202, 17) !important;
  span {
    color: white;
  }
}

.message-reset-password {
  @extend .message-success;
  background-color: rgb(121, 121, 145) !important;
}

.display-none {
  display: none;
}
.display-block {
  display: block;
}
